$clr-primary: #00FFD2;
$clr-gray: #343D3C;
$clr-black: #142E2E;
$clr-white: #FFFFFF;
$clr-secondary: #2EBAA1;

$ff-primary: "Poppins", "sans-serif";
$ff-secondary: "Inder", sans-serif;


$break-lg: 1250px;
$break-md: 870px;
$break-sm: 480PX;